* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFEEE9;
  }
  header {
    background-color: #0E0D39;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 50%;
    height: auto;
  }
  
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  .menu a:hover {
    background-color: #740B00;
    color: #FFEEE9;
  }

  .menu-icon .navicon {
    background: #FFEEE9;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  
  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
    background: #FFEEE9;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  
  .menu-icon .navicon:before {
    top: 5px;
  }
  
  .menu-icon .navicon:after {
    top: -5px;
  }
  
  .menu-btn {
    display: none;
  }
  
  .menu-btn:checked ~ .menu {
    display: block;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  .menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu li {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .menu a {
    display: block;
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #FFEEE9;
  }  
  @media (max-width: 960px) {
    .logo img {
      max-width: 35%;
    }
    
    .menu-icon {
      position: absolute;
      top: 25px;
      right: 25px;
    }
    
    .menu {
      position: fixed;
      top: 80px;
      right: 0;
      width: 100%;
      height: calc(100% - 80px);
      background-color: #0E0D39;
      overflow-y: auto;
      z-index: 999;
      padding-top: 20px;
    }
    
    .menu li {
      margin: 10px 0;
    }
}

.titulo{
  color: #740B00;
  font-size: 55px;
  text-align: center;
  margin-top: 7.5px;
  padding: 10px;
  font-family: 'Great Vibes', cursive;
}

.resumen{
    justify-content: space-evenly;
    font-size: 0.938rem;
    line-height: 1.7;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color:#0E0D39;
    width: 75%;
    text-align: center;
    font-style: italic;
}

.container{
    max-width: 1000px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 35px 0;
    width: 75%;
}

.somos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.somos-img img{
    border-radius: 3rem 3rem 0 3rem;
    height: auto;
    width: 100%;
    align-items: center;
    max-width: 500px;
}

.somos-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.somos-text p{
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
    line-height: 1.7;
    margin-bottom: 15px;
    color:#0E0D39;
}

.titulo-2{
    color: #740B00;
    font-size: 27px;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
  }

.sales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2.4rem;
}

.sales .box{
    padding: 20px;
    background-color: #0E0D39;
    box-shadow: #740B00;
    text-align: center;
    border-radius: 2rem;
    color:#FFEEE9;
}

.sales .box:hover{
    background: #740B00;
    transition: 0.4s all linear;
}

.sales .box .fa-solid{
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #FFEEE9;
    color: #740B00;
}

.sales .box h3{
    font-size: 1.1rem;
    margin: 1rem 0 0.4rem;
}

.sales .box p{
    font-size: 0.938rem;
}

.main h2{
  color: #740B00;
  font-size: 27px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.main nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #740B00;
  height: 50px;
}

.main nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main nav ul li {
  margin: 0 10px;
}

.main nav ul li a {
  color: #fff;
  text-decoration: none;
}

#bio{
  justify-content: space-evenly;
  font-size: 0.938rem;
  line-height: 1.7;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color:#0E0D39;
  width: 75%;
  text-align: center;
  font-style: italic;
}

.Comidas {
  color: #740B00;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.properties-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 3rem;
  padding: 0 50px;
}

.properties-container .box{
  background: #0E0D39;
  padding: 10px;
  border-radius: 1rem;
  color: #FFEEE9;
  margin-bottom: 10px;
}

.properties-container .box:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}

.properties-container .box img{
  border-radius: 1rem;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.titulo-2-f{
  color: #FFEEE9;
  font-size: 27px;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.container-f{
  margin: auto;
  width: 75%;
  max-width: 700px;
  background-color: #740B00;
  padding: 25px 30px;
  margin-bottom: 30px;
  color: #FFEEE9;
  border-radius: 20px;
}

.container-f form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box{
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}



.footer-section{
    background-color: #0E0D39;
    padding: 30px 0px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .footer-section .row{
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    font-size: 1.2rem;
    color: #ffeee9;
    text-align: center;
  }
  
  .footer-section .row a{
  text-decoration: none;
  color: #FFEEE9;
  transition: 0.5s;
  }
  .footer-section .row a:hover{
  color: #999999;
  }
  
  .footer-section .row ul{
  width: 100%;
  }
  
  .footer-section .row ul li{
  display: inline-block;
  margin: 0px 30px;
  }
  
  .footer-section .row a i{
  font-size: 2rem;
  margin: 0% 1%;
  }
  
  .footer-section .row p{
  font-size: 0.8rem;
  }
  
  @media only screen and (max-width: 600px) {
    .sales {
      grid-template-columns: repeat(auto-fit, minmax(100%, auto));
    }
    .footer-section{
      text-align: center;
      padding: 3%;
    }
    .footer-section .row ul li{
      display: block;
      margin: 5px 0px;
      text-align: center;
    }
    .footer-section .row a i{
      margin: 0% 3%;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1065px) {
    .sales {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer-section{
      text-align: center;
      padding: 3%;
    }
    .footer-section .row ul li{
      display: block;
      margin: 5px 0px;
      text-align: center;
    }
    .footer-section .row a i{
      margin: 0% 3%;
    }
    }
  
  @media only screen and (min-width: 960px) {
  }